# Copy this file to .secrets.staging and fill in the values
# These are GitHub Actions Secrets for Staging

SUPABASE_ACCESS_TOKEN=
SUPABASE_DB_PASSWORD=
CLOUDFLARE_API_TOKEN=
UPSTASH_REDIS_REST_TOKEN=
SUPABASE_SECRET_KEY=
MAPBOX_ACCESS_TOKEN=